@media screen and (max-width: 768px)
*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    display: inline-block;
    font-size: 32px;
    background-color:
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid rgb(14, 4, 206)
    
}

a:hover{
    display: inline-block;

    color: rgb(253, 252, 48);
    background-color: white;
}

.imglogo{
   text-align: center;
   position: relative;
   position: absolute;
   top: 50px;
   left: 25%;
   height: 29%;

}


